body {
    background: #000;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
    padding: 20px;
    font-family: 'Rubik', sans-serif;
    justify-content: space-around; */

}
.container{
    background: #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    padding: 20px;
    font-family: 'Rubik', sans-serif;
    justify-content: space-around;
    align-items: cente;
}
.card1 {
    grid-row: span 2;
    background: rgb(27, 27, 46);
    display: grid;
    color: white;

}
.innercard1 {
    background: rgb(19, 19, 204);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: grid;
    color: white;
    padding: 0px;
}
.image img {
    height: 100px;
    width: 100px;
    border: 3px solid white;
    border-radius: 50%;
    margin: 20px;
}
.content {
    justify-content: space-around;
    margin-left: 20px;
}
.card2 {
    background-image: url(icon-work.svg);
    background-size: 50px;
    background-repeat:no-repeat;
    background-position:top right;
    background-color: rgb(240, 187, 74);
    padding-top: 20%;
    gap: 10%;
    border-radius: 10px;
    margin-bottom: 100px;
}
.innercard2{
    display: grid;
    background: rgb(27, 27, 46);
    height: 100%;
    width: 92%;
    border-radius: 10px;
    display: grid;
    color: white;
    padding: 20px;
   
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card3 {
    background-image: url(icon-play.svg);
    background-size: 50px;
    background-repeat:no-repeat;
    background-position:top right;
    background-color: rgb(15, 194, 194);
    padding-top: 20%;
    border-radius: 10px;
    margin-bottom: 100px;
}
.innercard3{
    background: rgb(27, 27, 46);
    height: 100%;
    width: 92%;
    border-radius: 10px;
    display: grid;
    color: white;
    padding: 20px;
}
.card4 {
    background-image: url(icon-study.svg);
    background-size: 50px;
    background-repeat:no-repeat;
    background-position:top right;
    background-color: rgb(255, 192, 203);
    padding-top: 20%;
    border-radius: 10px;
    margin-bottom: 100px;
}
.innercard4{
    background: rgb(27, 27, 46);
    height: 100%;
    width: 92%;
    border-radius: 10px;
    display: grid;
    color: white;
    padding: 20px;
}
.card5 {
    background-image: url(icon-exercise.svg);
    background-size: 50px;
    background-repeat:no-repeat;
    background-position:top right;
    background-color: rgb(138, 228, 138);
    padding-top: 20%;
    border-radius: 10px;
    margin-bottom: 100px;
}
.innercard5{
    background: rgb(27, 27, 46);
    height: 100%;
    width: 92%;
    border-radius: 10px;
    display: grid;
    color: white;
    padding: 20px;
}
.card6 {
    background-image: url(icon-social.svg);
    background-size: 50px;
    background-repeat:no-repeat;
    background-position:top right;
    background-color: rgb(144, 53, 219);
    padding-top: 20%;
    border-radius: 10px;
    margin-bottom: 100px;
}
.innercard6{
    background: rgb(27, 27, 46);
    height: 100%;
    width: 92%;
    border-radius: 10px;
    display: grid;
    color: white;
    padding: 20px;
}
.card7 {
    background-image: url(icon-self-care.svg);
    background-size: 50px;
    background-repeat:no-repeat;
    background-position:top right;
    background-color: rgb(240, 187, 74);
    padding-top: 20%;
    border-radius: 10px;
    margin-bottom: 100px;
}
.innercard7{
    background: rgb(27, 27, 46);
    height: 100%;
    width: 92%;
    border-radius: 10px;
    display: grid;
    color: white;
    padding: 20px;
}

/* mobile */
@media screen and (max-width: 425px) {
    
.card1 {
    grid-area: 1 / span 6;
    background: #cc3737;
}
  .card2 {
    grid-area: 2 / span 6;

}
  .card3 {
    grid-area: 3 / span 6;

}
  .card4 {
    grid-area: 4 / span 6;

}
  .card5 {
    grid-area: 5 / span 6;

}
.card6{
    grid-area: 6 / span ;
}
.card7{
    grid-area: 6 / span 6;
}
}
  
/* Styles for tablets and larger */
    @media screen and (min-width: 426px) and (max-width: 768px) {
        .card1 {
            grid-column: 1 / span 2;
            background: #b2c26a;
            color: #000;
            border-radius: 10px;
        }
        .card2 {
            grid-column: 3 / span 2;
           
        }
        .card3 {
            grid-column: 1 / span 2;
            
        }
        .card4 {
            grid-column: 3 / span 2;
           
        }
        .card5 {
            grid-column: 1 / span 2;
           
        }
        .card6{
             grid-column: 3 / span 2;
            
        }
        .card7{
             grid-column: 1 / span 2;
            
        }
        
    }
